<div>
    <button mat-icon-button color="primary" (click)="startAndStop()">
        <mat-icon *ngIf="!gameIsRunning">play_arrow</mat-icon>
        <mat-icon *ngIf="gameIsRunning">stop</mat-icon>
    </button>
    <mat-slider
        #speedInput
        [min]="min"
        [max]="max"
        [step]="step"
        [value]="speed"
        (input)="setSpeed(speedInput.value)"
        showTickMarks discrete thumbLabel
    />
</div>
<ng-container *ngFor="let client of clients">
    <client
            [client]="client"
            (nameEvent)="setName($event)"
            (urlEvent)="setUrl($event)"
            (colorEvent)="setColor($event)"
    />
</ng-container>
