<form>
  <button class="primary" type="button" (click)="startAndStop()">
    <mat-icon *ngIf="!gameIsRunning">play_arrow</mat-icon>
    <mat-icon *ngIf="gameIsRunning">stop</mat-icon>
<!--    <i class="material-icons" *ngIf="!gameIsRunning">play_arrow</i>-->
<!--    <i class="material-icons" *ngIf="gameIsRunning">stop</i>-->
  </button>
  <label for="timeout"></label>
  <input id="timeout" type="range" min="{{min}}" max="{{max}}" step="{{step}}" #inputElement (input)="setTimeout(inputElement.value)"/>
</form>
