# Log file
*.log

# BlueJ files
*.ctxt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# IntelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Eclipse
.settings/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Visual Studio Code
.vscode/
.code-workspace

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.c9/
*.launch
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
Thumbs.db
