:host {
  display: flex;
  flex-direction: column;
}

svg {
  stroke: black;
  fill: beige;
}

.map {
  height: 100%;
}

.wall {
  fill: sandybrown;
}

.bomb {
  fill: grey;
}

.fire {
  fill: orangered;
}
