<svg class="map" #svg>
    <ng-container *ngFor="let row of map">
        <ng-container *ngFor="let cell of row">
            <rect
                    [attr.width]="svg.clientWidth / row.length"
                    [attr.height]="svg.clientHeight / map.length"
                    [attr.x]="(svg.clientWidth / row.length) * cell.x"
                    [attr.y]="(svg.clientHeight / map.length) * cell.y"
            />
            <!--Wall-->
            <svg
                    class="wall"
                    *ngIf="hasWall(cell)"
                    [attr.width]="svg.clientWidth / row.length"
                    [attr.height]="svg.clientHeight / map.length"
                    [attr.x]="(svg.clientWidth / row.length) * cell.x"
                    [attr.y]="(svg.clientHeight / map.length) * cell.y"
                    viewBox="0 0 100 100"
            >
                <use xlink:href="assets/wall.svg#id"/>
            </svg>
            <!--Fire-->
            <svg
                    class="fire"
                    *ngIf="hasFire(cell)"
                    [attr.width]="svg.clientWidth / row.length"
                    [attr.height]="svg.clientHeight / map.length"
                    [attr.x]="(svg.clientWidth / row.length) * cell.x"
                    [attr.y]="(svg.clientHeight / map.length) * cell.y"
                    viewBox="0 0 100 100"
            >
                <use xlink:href="assets/fire.svg#id"/>
            </svg>
            <!--Bomb-->
            <svg
                    class="bomb"
                    *ngIf="hasBomb(cell)"
                    [attr.width]="svg.clientWidth / row.length"
                    [attr.height]="svg.clientHeight / map.length"
                    [attr.x]="(svg.clientWidth / row.length) * cell.x"
                    [attr.y]="(svg.clientHeight / map.length) * cell.y"
                    viewBox="0 0 100 100"
            >
                <use xlink:href="assets/bomb.svg#id"/>
            </svg>
        </ng-container>
    </ng-container>
    <!--Players-->
    <ng-container *ngFor="let client of clients; index as i">
        <!--Player-->
        <svg
                player-component
                [svg]="svg"
                [map]="map"
                [client]="client"
                [timeout]="timeout"
        />
    </ng-container>
</svg>
