<svg class="map" #svg>
  <ng-container *ngFor="let row of map">
    <ng-container *ngFor="let cell of row">
      <rect
        [attr.width]="svg.clientWidth / row.length"
        [attr.height]="svg.clientHeight / map.length"
        [attr.x]="(svg.clientWidth / row.length) * cell.x"
        [attr.y]="(svg.clientHeight / map.length) * cell.y"
      />
      <!--Wall-->
      <svg
        class="wall"
        *ngIf="hasWall(cell)"
        [attr.width]="svg.clientWidth / row.length"
        [attr.height]="svg.clientHeight / map.length"
        [attr.x]="(svg.clientWidth / row.length) * cell.x"
        [attr.y]="(svg.clientHeight / map.length) * cell.y"
        viewBox="0 0 100 100"
      >
        <path
          d="
           m 0 0
           h 100 v 100 h -100 v -100 z
           m 0 12.5 h 100 m 0 12.5 h -100 m 0 12.5 h 100 m 0 12.5 h -100 m 0 12.5 h 100 m 0 12.5 h -100 m 0 12.5 h 100
           m -20 12.5 v -12.5 m -20 0 v 12.5 m -20 0 v -12.5 m -20 0 v 12.5
           m -10 -12.5 v -12.5 m 20 0 v 12.5 m 20 0 v -12.5 m 20 0 v 12.5 m 20 0 v -12.5
           m -10 0 v -12.5 m -20 0 v 12.5 m -20 0 v -12.5 m -20 0 v 12.5
           m -10 -12.5 v -12.5 m 20 0 v 12.5 m 20 0 v -12.5 m 20 0 v 12.5 m 20 0 v -12.5
           m -10 0 v -12.5 m -20 0 v 12.5 m -20 0 v -12.5 m -20 0 v 12.5
           m -10 -12.5 v -12.5 m 20 0 v 12.5 m 20 0 v -12.5 m 20 0 v 12.5 m 20 0 v -12.5
           m -10 0 v -12.5 m -20 0 v 12.5 m -20 0 v -12.5 m -20 0 v 12.5
           m -10 -12.5 v -12.5 m 20 0 v 12.5 m 20 0 v -12.5 m 20 0 v 12.5 m 20 0 v -12.5
        "
        />
      </svg>
      <!--Fire-->
      <svg
        class="fire"
        *ngIf="hasFire(cell)"
        [attr.width]="svg.clientWidth / row.length"
        [attr.height]="svg.clientHeight / map.length"
        [attr.x]="(svg.clientWidth / row.length) * cell.x"
        [attr.y]="(svg.clientHeight / map.length) * cell.y"
        viewBox="0 0 100 100"
      >
        <path
          d="
          m 45 2
          a 4 3.4 0 0 1 4.3 -0.9
          l 1.1 0.3
          a 55.1 47.1 0 0 1 21.2 21.5
          c 4.3 8.6 4.3 18.8 1.4 28
          c 2.5 -1.8 4.3 -4 5.8 -6.5
          l 0.4 -0.3
          c 1.4 -3.1 5.8 -2.2 7.6 0
          c 0.7 0.9 16.6 20.6 7.9 37.2
          a 39.6 33.9 0 0 1 -13.3 12.6
          a 44.3 37.9 0 0 1 -15.5 5.5
          a 6.1 5.2 0 0 1 -3.2 -0.3
          a 6.1 5.2 0 0 1 -2.9 -1.8
          a 5.8 4.9 0 0 1 -0.7 -5.2
          c 1.4 -2.2 1.8 -4.6 1.4 -6.8
          a 15.1 12.9 0 0 0 -1.8 -4.9
          a 14.8 12.6 0 0 0 -4 -3.7
          a 28.4 24.3 0 0 1 -10.8 -14.2 c -12.2 13.9 -7.6 21.5 -1.8 28.6 a 5.4 4.6 0 0 1 0 5.5 a 6.1 5.2 0 0 1 -2.9 1.8 a 6.1 5.2 0 0 1 -3.6 0 c -7.9 -1.5 -15.5 -4.9 -20.5 -9.8 a 33.8 28.9 0 0 1 -6.5 -9.5 a 34.6 29.5 0 0 1 -1.8 -11.1 s -1.1 -15.1 20.5 -30.2 c 0 0 25.2 -18.5 16.6 -32 a 4.3 3.7 0 0 1 1.1 -3.8 z
        "
        />
      </svg>
      <!--Bomb-->
      <svg
        class="bomb"
        *ngIf="hasBomb(cell)"
        [attr.width]="svg.clientWidth / row.length"
        [attr.height]="svg.clientHeight / map.length"
        [attr.x]="(svg.clientWidth / row.length) * cell.x"
        [attr.y]="(svg.clientHeight / map.length) * cell.y"
        viewBox="0 0 100 100"
      >
        <path
          d="
            m 50 0
            v 5
            h -10
            v 5
            a 1 1 0 0 0 10 85
            a 1 1 0 0 0 10 -85
            v -5
            h -10
          "
        />
      </svg>
    </ng-container>
  </ng-container>
  <!--Players-->
  <ng-container *ngFor="let client of clients; index as i">
    <!--Player-->
    <svg
      player-component
      [svg]="svg"
      [map]="map"
      [clients]="clients"
      [i]="i"
    />
  </ng-container>
</svg>
