:host {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    --content-padding: 10px;
    /*padding: var(--content-padding);*/
    /*column-gap: 10px;*/
}

playground {
    height: 100vh;
}
